<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
</head>
<body>
    <form method="post" action="http://localhost:8080/chats">
        From : <input type="text" name="from"/>
        To : <input type="text" name="to"/>
        Message : <textarea name="msg"></textarea>
        Date : <input type="date" name="date"/>
        <button>Send a chat</button>
    </form>
</body>
</html>